*{
  font-family: 'SUITE-Regular';
}
h1{
  font-family: 'KIMM_Bold';
  font-size: 180%;
}
#main{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#main p{
  font-weight: 60;
}
p{
  font-size: 120%;
  padding-top: 15px
}


h1{
  padding-bottom: 15px;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 80%;
  }
  p{
    font-size: 80%;
    padding-top: 15px;
  }
}