#result{
    display: none;
    background-color: whitesmoke;
    width: 95%;
    text-align: center;
    border-radius: 20px;
    word-break: keep-all;
  }
  
  #shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
  .resultname{
    font-size: 150%;
    box-sizing: border-box;
    word-break: keep-all;
  }
  
  .resultDesc{
    font-size: 120%;
  }

  .kakao{
    color: white;
    background-color: #fed61e;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
  }
  
  .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #fed61e;
  }
  
  .gohome{
    color: white;
    background-color: #23386f;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
  }
  
  .gohome:hover, .gohome:focus {
    background-color: whitesmoke;
    color: #23386f;
  }
  
